


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."auto_decline_other_requests"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Only run if status changed to 'accepted'
  IF NEW.status = 'accepted' AND (TG_OP = 'INSERT' OR OLD.status != 'accepted') THEN
    -- Decline all other pending requests for both users
    UPDATE partnerships
    SET status = 'declined', responded_at = NOW()
    WHERE id != NEW.id
      AND status = 'pending'
      AND (user_a = NEW.user_a OR user_b = NEW.user_a OR user_a = NEW.user_b OR user_b = NEW.user_b);
  END IF;
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."auto_decline_other_requests"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."check_single_accepted_partnership"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Only check if the status is being set to 'accepted'
  IF NEW.status = 'accepted' THEN
    -- Check if either user already has an accepted partnership
    IF EXISTS (
      SELECT 1 FROM partnerships 
      WHERE id != NEW.id 
        AND status = 'accepted' 
        AND (user_a = NEW.user_a OR user_b = NEW.user_a OR user_a = NEW.user_b OR user_b = NEW.user_b)
    ) THEN
      RAISE EXCEPTION 'User already has an accepted partnership';
    END IF;
  END IF;
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."check_single_accepted_partnership"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_spot_with_nearby_check"("p_name" "text", "p_latitude" double precision, "p_longitude" double precision, "p_radius_meters" integer DEFAULT 50, "p_force" boolean DEFAULT false) RETURNS "jsonb"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  v_uid uuid := auth.uid();
  v_lat_delta double precision;
  v_lng_delta double precision;
  v_nearby record;
  v_spot record;
BEGIN
  IF v_uid IS NULL THEN
    RAISE EXCEPTION 'Not authenticated';
  END IF;

  IF p_name IS NULL OR btrim(p_name) = '' THEN
    RAISE EXCEPTION 'Name required';
  END IF;

  IF NOT COALESCE(p_force, false) THEN
    v_lat_delta := p_radius_meters / 111320.0;
    v_lng_delta := p_radius_meters / (111320.0 * GREATEST(cos(radians(p_latitude)), 0.00001));

    SELECT
      s.id,
      s.user_id,
      s.name,
      s.latitude,
      s.longitude,
      s.created_at,
      s.date_score,
      s.atmosphere,
      s.notes,
      s.vibe,
      s.price,
      s.best_for,
      s.would_return,
      p.id AS author_id,
      p.name AS author_name,
      p.username AS author_username,
      p.avatar_url AS author_avatar_url,
      (
        6371000.0 * acos(
          least(
            1.0,
            greatest(
              -1.0,
              cos(radians(p_latitude)) * cos(radians(s.latitude)) * cos(radians(s.longitude) - radians(p_longitude)) +
              sin(radians(p_latitude)) * sin(radians(s.latitude))
            )
          )
        )
      ) AS distance_meters
    INTO v_nearby
    FROM public.spots s
    JOIN public.profiles p ON p.id = s.user_id
    WHERE s.latitude BETWEEN (p_latitude - v_lat_delta) AND (p_latitude + v_lat_delta)
      AND s.longitude BETWEEN (p_longitude - v_lng_delta) AND (p_longitude + v_lng_delta)
      AND (
        s.user_id = v_uid
        OR EXISTS (
          SELECT 1
          FROM public.follows f
          WHERE f.follower_id = v_uid
            AND f.following_id = s.user_id
        )
      )
    ORDER BY distance_meters ASC
    LIMIT 1;

    IF FOUND AND v_nearby.distance_meters <= p_radius_meters THEN
      RETURN jsonb_build_object(
        'status', 'nearby',
        'distance_meters', round(v_nearby.distance_meters::numeric, 2),
        'spot', jsonb_build_object(
          'id', v_nearby.id,
          'user_id', v_nearby.user_id,
          'name', v_nearby.name,
          'latitude', v_nearby.latitude,
          'longitude', v_nearby.longitude,
          'created_at', v_nearby.created_at,
          'date_score', v_nearby.date_score,
          'atmosphere', v_nearby.atmosphere,
          'notes', v_nearby.notes,
          'vibe', v_nearby.vibe,
          'price', v_nearby.price,
          'best_for', v_nearby.best_for,
          'would_return', v_nearby.would_return,
          'author_id', v_nearby.author_id,
          'author_name', v_nearby.author_name,
          'author_username', v_nearby.author_username,
          'author_avatar_url', v_nearby.author_avatar_url
        )
      );
    END IF;
  END IF;

  INSERT INTO public.spots (user_id, name, latitude, longitude)
  VALUES (v_uid, btrim(p_name), p_latitude, p_longitude)
  RETURNING id, name, latitude, longitude, created_at
  INTO v_spot;

  RETURN jsonb_build_object(
    'status', 'created',
    'spot', jsonb_build_object(
      'id', v_spot.id,
      'name', v_spot.name,
      'latitude', v_spot.latitude,
      'longitude', v_spot.longitude,
      'created_at', v_spot.created_at
    )
  );
END;
$$;


ALTER FUNCTION "public"."create_spot_with_nearby_check"("p_name" "text", "p_latitude" double precision, "p_longitude" double precision, "p_radius_meters" integer, "p_force" boolean) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."decrement_followers"("user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.profiles
  SET followers_count = GREATEST(0, COALESCE(followers_count, 0) - 1)
  WHERE id = user_id;
END;
$$;


ALTER FUNCTION "public"."decrement_followers"("user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."decrement_following"("user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.profiles
  SET following_count = GREATEST(0, COALESCE(following_count, 0) - 1)
  WHERE id = user_id;
END;
$$;


ALTER FUNCTION "public"."decrement_following"("user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."follows_dec_counts"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  update public.profiles
  set followers_count = greatest(followers_count - 1, 0)
  where id = old.following_id;

  update public.profiles
  set following_count = greatest(following_count - 1, 0)
  where id = old.follower_id;

  return old;
end;
$$;


ALTER FUNCTION "public"."follows_dec_counts"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."follows_inc_counts"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  update public.profiles
  set followers_count = followers_count + 1
  where id = new.following_id;

  update public.profiles
  set following_count = following_count + 1
  where id = new.follower_id;

  return new;
end;
$$;


ALTER FUNCTION "public"."follows_inc_counts"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
begin
  insert into public.profiles (id, username)
  values (new.id, new.raw_user_meta_data->>'username');
  return new;
end;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_username_lowercase"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  if new.username is not null then
    new.username := lower(new.username);
  end if;
  return new;
end;
$$;


ALTER FUNCTION "public"."handle_username_lowercase"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."increment_followers"("user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.profiles
  SET followers_count = COALESCE(followers_count, 0) + 1
  WHERE id = user_id;
END;
$$;


ALTER FUNCTION "public"."increment_followers"("user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."increment_following"("user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  UPDATE public.profiles
  SET following_count = COALESCE(following_count, 0) + 1
  WHERE id = user_id;
END;
$$;


ALTER FUNCTION "public"."increment_following"("user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."prevent_partner_if_taken"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  -- block if requester already has accepted partner
  if exists (
    select 1
    from public.partnerships p
    where p.status = 'accepted'
      and (p.user_a = new.user_a or p.user_b = new.user_a)
  ) then
    raise exception 'You already have a DateSpot partner.';
  end if;

  -- block if target already has accepted partner
  if exists (
    select 1
    from public.partnerships p
    where p.status = 'accepted'
      and (p.user_a = new.user_b or p.user_b = new.user_b)
  ) then
    raise exception 'That user already has a DateSpot partner.';
  end if;

  return new;
end;
$$;


ALTER FUNCTION "public"."prevent_partner_if_taken"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_spot_date_score"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE spots
  SET date_score = (
    SELECT ROUND(AVG(date_score))::integer
    FROM spot_reviews
    WHERE spot_id = COALESCE(NEW.spot_id, OLD.spot_id)
      AND date_score IS NOT NULL
  )
  WHERE id = COALESCE(NEW.spot_id, OLD.spot_id);
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."sync_spot_date_score"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."date_spot_tags" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "spot_id" "uuid" NOT NULL,
    "tagged_user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."date_spot_tags" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."feed_events" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "type" "text" NOT NULL,
    "message" "text" NOT NULL,
    "ref_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "feed_events_type_check" CHECK (("type" = 'partnership'::"text"))
);


ALTER TABLE "public"."feed_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."follows" (
    "follower_id" "uuid" NOT NULL,
    "following_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "follows_no_self" CHECK (("follower_id" <> "following_id"))
);


ALTER TABLE "public"."follows" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."partnerships" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_a" "uuid" NOT NULL,
    "user_b" "uuid" NOT NULL,
    "status" "text" NOT NULL,
    "requested_by" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "responded_at" timestamp with time zone,
    CONSTRAINT "partnerships_no_self" CHECK (("user_a" <> "user_b")),
    CONSTRAINT "partnerships_requested_by_participant" CHECK ((("requested_by" = "user_a") OR ("requested_by" = "user_b"))),
    CONSTRAINT "partnerships_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text", 'declined'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."partnerships" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "name" "text" DEFAULT ''::"text" NOT NULL,
    "avatar_url" "text",
    "followers_count" integer DEFAULT 0 NOT NULL,
    "following_count" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "username" "text",
    CONSTRAINT "username_format_chk" CHECK ((("username" IS NULL) OR ("username" ~ '^[a-z0-9_]{3,20}$'::"text")))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."spot_photos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "spot_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "path" "text" NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."spot_photos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."spot_tags" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "spot_id" "uuid" NOT NULL,
    "tagged_user_id" "uuid" NOT NULL,
    "created_by" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."spot_tags" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."spots" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" DEFAULT "auth"."uid"() NOT NULL,
    "name" "text" NOT NULL,
    "latitude" double precision NOT NULL,
    "longitude" double precision NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "address_text" "text",
    "city" "text",
    "state" "text",
    "postal_code" "text",
    "country" "text",
    "google_place_id" "text",
    "atmosphere" "text",
    "date_score" integer,
    "notes" "text",
    "vibe" "text",
    "price" "text",
    "best_for" "text",
    "would_return" boolean DEFAULT false NOT NULL
);


ALTER TABLE "public"."spots" OWNER TO "postgres";


ALTER TABLE ONLY "public"."date_spot_tags"
    ADD CONSTRAINT "date_spot_tags_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."feed_events"
    ADD CONSTRAINT "feed_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."follows"
    ADD CONSTRAINT "follows_pkey" PRIMARY KEY ("follower_id", "following_id");



ALTER TABLE ONLY "public"."partnerships"
    ADD CONSTRAINT "partnerships_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spot_photos"
    ADD CONSTRAINT "spot_photos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spot_tags"
    ADD CONSTRAINT "spot_tags_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."spot_tags"
    ADD CONSTRAINT "spot_tags_spot_id_tagged_user_id_key" UNIQUE ("spot_id", "tagged_user_id");



ALTER TABLE ONLY "public"."spots"
    ADD CONSTRAINT "spots_pkey" PRIMARY KEY ("id");



CREATE INDEX "date_spot_tags_spot_idx" ON "public"."date_spot_tags" USING "btree" ("spot_id");



CREATE UNIQUE INDEX "date_spot_tags_spot_user_unique" ON "public"."date_spot_tags" USING "btree" ("spot_id", "tagged_user_id");



CREATE INDEX "date_spot_tags_tagged_user_idx" ON "public"."date_spot_tags" USING "btree" ("tagged_user_id");



CREATE INDEX "feed_events_user_created_idx" ON "public"."feed_events" USING "btree" ("user_id", "created_at" DESC);



CREATE INDEX "follows_follower_idx" ON "public"."follows" USING "btree" ("follower_id");



CREATE INDEX "follows_following_idx" ON "public"."follows" USING "btree" ("following_id");



CREATE INDEX "idx_feed_events_user_created" ON "public"."feed_events" USING "btree" ("user_id", "created_at" DESC);



CREATE INDEX "idx_partnerships_user_a_status" ON "public"."partnerships" USING "btree" ("user_a", "status");



CREATE INDEX "idx_partnerships_user_b_status" ON "public"."partnerships" USING "btree" ("user_b", "status");



CREATE INDEX "idx_spots_created_at" ON "public"."spots" USING "btree" ("created_at");



CREATE INDEX "idx_spots_user_id" ON "public"."spots" USING "btree" ("user_id");



CREATE UNIQUE INDEX "partnerships_pair_active_unique" ON "public"."partnerships" USING "btree" (LEAST("user_a", "user_b"), GREATEST("user_a", "user_b")) WHERE ("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text"]));



CREATE INDEX "partnerships_status_idx" ON "public"."partnerships" USING "btree" ("status");



CREATE UNIQUE INDEX "partnerships_user_a_accepted_unique" ON "public"."partnerships" USING "btree" ("user_a") WHERE ("status" = 'accepted'::"text");



CREATE INDEX "partnerships_user_a_idx" ON "public"."partnerships" USING "btree" ("user_a");



CREATE UNIQUE INDEX "partnerships_user_b_accepted_unique" ON "public"."partnerships" USING "btree" ("user_b") WHERE ("status" = 'accepted'::"text");



CREATE INDEX "partnerships_user_b_idx" ON "public"."partnerships" USING "btree" ("user_b");



CREATE UNIQUE INDEX "profiles_username_unique" ON "public"."profiles" USING "btree" ("username") WHERE ("username" IS NOT NULL);



CREATE INDEX "spot_photos_spot_id_position_idx" ON "public"."spot_photos" USING "btree" ("spot_id", "position", "created_at");



CREATE UNIQUE INDEX "spot_photos_unique_path_idx" ON "public"."spot_photos" USING "btree" ("path");



CREATE INDEX "spot_photos_user_id_idx" ON "public"."spot_photos" USING "btree" ("user_id");



CREATE INDEX "spot_tags_created_by_idx" ON "public"."spot_tags" USING "btree" ("created_by");



CREATE INDEX "spot_tags_spot_id_idx" ON "public"."spot_tags" USING "btree" ("spot_id");



CREATE INDEX "spot_tags_tagged_user_id_idx" ON "public"."spot_tags" USING "btree" ("tagged_user_id");



CREATE INDEX "spots_created_at_idx" ON "public"."spots" USING "btree" ("created_at" DESC);



CREATE UNIQUE INDEX "spots_google_place_id_unique_idx" ON "public"."spots" USING "btree" ("google_place_id") WHERE ("google_place_id" IS NOT NULL);



CREATE INDEX "spots_user_created_at_idx" ON "public"."spots" USING "btree" ("user_id", "created_at" DESC);



CREATE OR REPLACE TRIGGER "auto_decline_on_accept" AFTER INSERT OR UPDATE ON "public"."partnerships" FOR EACH ROW EXECUTE FUNCTION "public"."auto_decline_other_requests"();



CREATE OR REPLACE TRIGGER "enforce_single_partnership" BEFORE INSERT OR UPDATE ON "public"."partnerships" FOR EACH ROW EXECUTE FUNCTION "public"."check_single_accepted_partnership"();



CREATE OR REPLACE TRIGGER "trg_follows_dec" AFTER DELETE ON "public"."follows" FOR EACH ROW EXECUTE FUNCTION "public"."follows_dec_counts"();



CREATE OR REPLACE TRIGGER "trg_follows_inc" AFTER INSERT ON "public"."follows" FOR EACH ROW EXECUTE FUNCTION "public"."follows_inc_counts"();



CREATE OR REPLACE TRIGGER "trg_prevent_partner_if_taken" BEFORE INSERT ON "public"."partnerships" FOR EACH ROW EXECUTE FUNCTION "public"."prevent_partner_if_taken"();



CREATE OR REPLACE TRIGGER "trg_username_lowercase" BEFORE INSERT OR UPDATE OF "username" ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."handle_username_lowercase"();



ALTER TABLE ONLY "public"."date_spot_tags"
    ADD CONSTRAINT "date_spot_tags_spot_id_fkey" FOREIGN KEY ("spot_id") REFERENCES "public"."spots"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."date_spot_tags"
    ADD CONSTRAINT "date_spot_tags_tagged_user_id_fkey" FOREIGN KEY ("tagged_user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."feed_events"
    ADD CONSTRAINT "feed_events_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."follows"
    ADD CONSTRAINT "follows_follower_id_fkey" FOREIGN KEY ("follower_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."follows"
    ADD CONSTRAINT "follows_follower_profile_fkey" FOREIGN KEY ("follower_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."follows"
    ADD CONSTRAINT "follows_following_id_fkey" FOREIGN KEY ("following_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."follows"
    ADD CONSTRAINT "follows_following_profile_fkey" FOREIGN KEY ("following_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."partnerships"
    ADD CONSTRAINT "partnerships_requested_by_fkey" FOREIGN KEY ("requested_by") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."partnerships"
    ADD CONSTRAINT "partnerships_user_a_fkey" FOREIGN KEY ("user_a") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."partnerships"
    ADD CONSTRAINT "partnerships_user_b_fkey" FOREIGN KEY ("user_b") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."spot_photos"
    ADD CONSTRAINT "spot_photos_spot_id_fkey" FOREIGN KEY ("spot_id") REFERENCES "public"."spots"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."spot_photos"
    ADD CONSTRAINT "spot_photos_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."spot_tags"
    ADD CONSTRAINT "spot_tags_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."spot_tags"
    ADD CONSTRAINT "spot_tags_spot_id_fkey" FOREIGN KEY ("spot_id") REFERENCES "public"."spots"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."spot_tags"
    ADD CONSTRAINT "spot_tags_tagged_user_id_fkey" FOREIGN KEY ("tagged_user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."spots"
    ADD CONSTRAINT "spots_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



CREATE POLICY "Anyone can view all follows" ON "public"."follows" FOR SELECT USING (true);



CREATE POLICY "Anyone can view all partnerships" ON "public"."partnerships" FOR SELECT USING (true);



CREATE POLICY "Users can delete their own follows" ON "public"."follows" FOR DELETE USING ((("auth"."uid"() = "follower_id") OR ("auth"."uid"() = "following_id")));



CREATE POLICY "Users can delete their own spots" ON "public"."spots" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert partnerships with mutual follow check" ON "public"."partnerships" FOR INSERT WITH CHECK ((("auth"."uid"() = "requested_by") AND (("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b")) AND ("user_a" <> "user_b") AND (EXISTS ( SELECT 1
   FROM "public"."follows"
  WHERE (("follows"."follower_id" = "partnerships"."user_a") AND ("follows"."following_id" = "partnerships"."user_b")))) AND (EXISTS ( SELECT 1
   FROM "public"."follows"
  WHERE (("follows"."follower_id" = "partnerships"."user_b") AND ("follows"."following_id" = "partnerships"."user_a")))) AND (NOT (EXISTS ( SELECT 1
   FROM "public"."partnerships" "partnerships_1"
  WHERE (("partnerships_1"."status" = 'accepted'::"text") AND ((("partnerships_1"."user_a" = "partnerships_1"."user_a") OR ("partnerships_1"."user_a" = "partnerships_1"."user_b")) OR (("partnerships_1"."user_b" = "partnerships_1"."user_a") OR ("partnerships_1"."user_b" = "partnerships_1"."user_b"))))))) AND (NOT (EXISTS ( SELECT 1
   FROM "public"."partnerships" "partnerships_1"
  WHERE (("partnerships_1"."status" = ANY (ARRAY['pending'::"text", 'accepted'::"text"])) AND ((("partnerships_1"."user_a" = "partnerships_1"."user_a") AND ("partnerships_1"."user_b" = "partnerships_1"."user_b")) OR (("partnerships_1"."user_a" = "partnerships_1"."user_b") AND ("partnerships_1"."user_b" = "partnerships_1"."user_a")))))))));



CREATE POLICY "Users can insert their own follows" ON "public"."follows" FOR INSERT WITH CHECK ((("auth"."uid"() = "follower_id") AND ("follower_id" <> "following_id")));



CREATE POLICY "Users can insert their own spots" ON "public"."spots" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can remove their own followers" ON "public"."follows" FOR DELETE USING (("following_id" = "auth"."uid"()));



CREATE POLICY "Users can update partnerships they're part of" ON "public"."partnerships" FOR UPDATE USING ((("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b"))) WITH CHECK ((("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text", 'declined'::"text", 'cancelled'::"text"])) AND (("status" <> 'accepted'::"text") OR (NOT (EXISTS ( SELECT 1
   FROM "public"."partnerships" "p"
  WHERE (("p"."id" <> "partnerships"."id") AND ("p"."status" = 'accepted'::"text") AND (("p"."user_a" = "partnerships"."user_a") OR ("p"."user_b" = "partnerships"."user_a") OR ("p"."user_a" = "partnerships"."user_b") OR ("p"."user_b" = "partnerships"."user_b")))))))));



CREATE POLICY "Users can update their own profile" ON "public"."profiles" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "id")) WITH CHECK (("auth"."uid"() = "id"));



CREATE POLICY "Users can update their own spots" ON "public"."spots" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."date_spot_tags" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "date_spot_tags_delete_owner" ON "public"."date_spot_tags" FOR DELETE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "date_spot_tags"."spot_id") AND ("s"."user_id" = "auth"."uid"())))));



CREATE POLICY "date_spot_tags_insert_owner" ON "public"."date_spot_tags" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "date_spot_tags"."spot_id") AND ("s"."user_id" = "auth"."uid"())))));



CREATE POLICY "date_spot_tags_select" ON "public"."date_spot_tags" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE ("s"."id" = "date_spot_tags"."spot_id"))));



CREATE POLICY "delete follow as self" ON "public"."follows" FOR DELETE TO "authenticated" USING (("follower_id" = "auth"."uid"()));



ALTER TABLE "public"."feed_events" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "feed_events_insert_partner_scoped" ON "public"."feed_events" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."partnerships" "p"
  WHERE (("p"."id" = "feed_events"."ref_id") AND (("auth"."uid"() = "p"."user_a") OR ("auth"."uid"() = "p"."user_b")) AND (("feed_events"."user_id" = "p"."user_a") OR ("feed_events"."user_id" = "p"."user_b"))))));



CREATE POLICY "feed_events_select_own" ON "public"."feed_events" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."follows" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "insert follow as self" ON "public"."follows" FOR INSERT TO "authenticated" WITH CHECK (("follower_id" = "auth"."uid"()));



CREATE POLICY "participants can delete partnership" ON "public"."partnerships" FOR DELETE USING ((("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b")));



ALTER TABLE "public"."partnerships" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "partnerships_delete_requester_pending" ON "public"."partnerships" FOR DELETE USING ((("status" = 'pending'::"text") AND ("requested_by" = "auth"."uid"())));



CREATE POLICY "partnerships_insert_requester" ON "public"."partnerships" FOR INSERT WITH CHECK ((("status" = 'pending'::"text") AND ("requested_by" = "auth"."uid"()) AND (("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b"))));



CREATE POLICY "partnerships_insert_requires_mutual_follow" ON "public"."partnerships" FOR INSERT TO "authenticated" WITH CHECK ((("requested_by" = "auth"."uid"()) AND (("user_a" = "auth"."uid"()) OR ("user_b" = "auth"."uid"())) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f"
  WHERE (("f"."follower_id" = "partnerships"."user_a") AND ("f"."following_id" = "partnerships"."user_b")))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f"
  WHERE (("f"."follower_id" = "partnerships"."user_b") AND ("f"."following_id" = "partnerships"."user_a"))))));



CREATE POLICY "partnerships_select_participants" ON "public"."partnerships" FOR SELECT USING ((("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b")));



CREATE POLICY "partnerships_update_participants" ON "public"."partnerships" FOR UPDATE USING ((("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b"))) WITH CHECK ((("auth"."uid"() = "user_a") OR ("auth"."uid"() = "user_b")));



ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "profiles_insert_own" ON "public"."profiles" FOR INSERT TO "authenticated" WITH CHECK (("id" = "auth"."uid"()));



CREATE POLICY "profiles_select_followed_or_self" ON "public"."profiles" FOR SELECT TO "authenticated" USING ((("id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."follows" "f"
  WHERE (("f"."follower_id" = "auth"."uid"()) AND ("f"."following_id" = "profiles"."id"))))));



CREATE POLICY "profiles_update_own" ON "public"."profiles" FOR UPDATE TO "authenticated" USING (("id" = "auth"."uid"())) WITH CHECK (("id" = "auth"."uid"()));



CREATE POLICY "select own follows" ON "public"."follows" FOR SELECT TO "authenticated" USING ((("follower_id" = "auth"."uid"()) OR ("following_id" = "auth"."uid"())));



ALTER TABLE "public"."spot_photos" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "spot_photos_delete_owner" ON "public"."spot_photos" FOR DELETE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_photos"."spot_id") AND ("s"."user_id" = "auth"."uid"())))));



CREATE POLICY "spot_photos_insert_owner" ON "public"."spot_photos" FOR INSERT TO "authenticated" WITH CHECK ((("user_id" = "auth"."uid"()) AND (EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_photos"."spot_id") AND ("s"."user_id" = "auth"."uid"()))))));



CREATE POLICY "spot_photos_select_authenticated" ON "public"."spot_photos" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "spot_photos_update_owner" ON "public"."spot_photos" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_photos"."spot_id") AND ("s"."user_id" = "auth"."uid"()))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_photos"."spot_id") AND ("s"."user_id" = "auth"."uid"())))));



ALTER TABLE "public"."spot_tags" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "spot_tags_delete_owner_mutual" ON "public"."spot_tags" FOR DELETE USING ((("auth"."uid"() = "created_by") AND (EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_tags"."spot_id") AND ("s"."user_id" = "auth"."uid"())))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f1"
  WHERE (("f1"."follower_id" = "auth"."uid"()) AND ("f1"."following_id" = "spot_tags"."tagged_user_id")))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f2"
  WHERE (("f2"."follower_id" = "spot_tags"."tagged_user_id") AND ("f2"."following_id" = "auth"."uid"()))))));



CREATE POLICY "spot_tags_insert_owner_mutual" ON "public"."spot_tags" FOR INSERT WITH CHECK ((("auth"."uid"() = "created_by") AND (EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_tags"."spot_id") AND ("s"."user_id" = "auth"."uid"())))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f1"
  WHERE (("f1"."follower_id" = "auth"."uid"()) AND ("f1"."following_id" = "spot_tags"."tagged_user_id")))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f2"
  WHERE (("f2"."follower_id" = "spot_tags"."tagged_user_id") AND ("f2"."following_id" = "auth"."uid"()))))));



CREATE POLICY "spot_tags_select_if_spot_visible" ON "public"."spot_tags" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE ("s"."id" = "spot_tags"."spot_id"))));



CREATE POLICY "spot_tags_update_owner_mutual" ON "public"."spot_tags" FOR UPDATE USING ((("auth"."uid"() = "created_by") AND (EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_tags"."spot_id") AND ("s"."user_id" = "auth"."uid"())))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f1"
  WHERE (("f1"."follower_id" = "auth"."uid"()) AND ("f1"."following_id" = "spot_tags"."tagged_user_id")))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f2"
  WHERE (("f2"."follower_id" = "spot_tags"."tagged_user_id") AND ("f2"."following_id" = "auth"."uid"())))))) WITH CHECK ((("auth"."uid"() = "created_by") AND (EXISTS ( SELECT 1
   FROM "public"."spots" "s"
  WHERE (("s"."id" = "spot_tags"."spot_id") AND ("s"."user_id" = "auth"."uid"())))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f1"
  WHERE (("f1"."follower_id" = "auth"."uid"()) AND ("f1"."following_id" = "spot_tags"."tagged_user_id")))) AND (EXISTS ( SELECT 1
   FROM "public"."follows" "f2"
  WHERE (("f2"."follower_id" = "spot_tags"."tagged_user_id") AND ("f2"."following_id" = "auth"."uid"()))))));



ALTER TABLE "public"."spots" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "spots_delete_own" ON "public"."spots" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "spots_insert_authenticated" ON "public"."spots" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() IS NOT NULL));



CREATE POLICY "spots_select_authenticated" ON "public"."spots" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "spots_update_own" ON "public"."spots" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."auto_decline_other_requests"() TO "anon";
GRANT ALL ON FUNCTION "public"."auto_decline_other_requests"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."auto_decline_other_requests"() TO "service_role";



GRANT ALL ON FUNCTION "public"."check_single_accepted_partnership"() TO "anon";
GRANT ALL ON FUNCTION "public"."check_single_accepted_partnership"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."check_single_accepted_partnership"() TO "service_role";



GRANT ALL ON FUNCTION "public"."create_spot_with_nearby_check"("p_name" "text", "p_latitude" double precision, "p_longitude" double precision, "p_radius_meters" integer, "p_force" boolean) TO "anon";
GRANT ALL ON FUNCTION "public"."create_spot_with_nearby_check"("p_name" "text", "p_latitude" double precision, "p_longitude" double precision, "p_radius_meters" integer, "p_force" boolean) TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_spot_with_nearby_check"("p_name" "text", "p_latitude" double precision, "p_longitude" double precision, "p_radius_meters" integer, "p_force" boolean) TO "service_role";



GRANT ALL ON FUNCTION "public"."decrement_followers"("user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."decrement_followers"("user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."decrement_followers"("user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."decrement_following"("user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."decrement_following"("user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."decrement_following"("user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."follows_dec_counts"() TO "anon";
GRANT ALL ON FUNCTION "public"."follows_dec_counts"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."follows_dec_counts"() TO "service_role";



GRANT ALL ON FUNCTION "public"."follows_inc_counts"() TO "anon";
GRANT ALL ON FUNCTION "public"."follows_inc_counts"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."follows_inc_counts"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_username_lowercase"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_username_lowercase"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_username_lowercase"() TO "service_role";



GRANT ALL ON FUNCTION "public"."increment_followers"("user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."increment_followers"("user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."increment_followers"("user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."increment_following"("user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."increment_following"("user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."increment_following"("user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."prevent_partner_if_taken"() TO "anon";
GRANT ALL ON FUNCTION "public"."prevent_partner_if_taken"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."prevent_partner_if_taken"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_spot_date_score"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_spot_date_score"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_spot_date_score"() TO "service_role";



GRANT ALL ON TABLE "public"."date_spot_tags" TO "anon";
GRANT ALL ON TABLE "public"."date_spot_tags" TO "authenticated";
GRANT ALL ON TABLE "public"."date_spot_tags" TO "service_role";



GRANT ALL ON TABLE "public"."feed_events" TO "anon";
GRANT ALL ON TABLE "public"."feed_events" TO "authenticated";
GRANT ALL ON TABLE "public"."feed_events" TO "service_role";



GRANT ALL ON TABLE "public"."follows" TO "anon";
GRANT ALL ON TABLE "public"."follows" TO "authenticated";
GRANT ALL ON TABLE "public"."follows" TO "service_role";



GRANT ALL ON TABLE "public"."partnerships" TO "anon";
GRANT ALL ON TABLE "public"."partnerships" TO "authenticated";
GRANT ALL ON TABLE "public"."partnerships" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."spot_photos" TO "anon";
GRANT ALL ON TABLE "public"."spot_photos" TO "authenticated";
GRANT ALL ON TABLE "public"."spot_photos" TO "service_role";



GRANT ALL ON TABLE "public"."spot_tags" TO "anon";
GRANT ALL ON TABLE "public"."spot_tags" TO "authenticated";
GRANT ALL ON TABLE "public"."spot_tags" TO "service_role";



GRANT ALL ON TABLE "public"."spots" TO "anon";
GRANT ALL ON TABLE "public"."spots" TO "authenticated";
GRANT ALL ON TABLE "public"."spots" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







